body {
    max-width: 1000px;
    margin: auto;
    background-color: lightblue;
}
select {
    background-color: red;
    border: 2px solid white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 60px;
    color:black;
    font-weight: 500;
    letter-spacing: 0.01em;
    position: relative;
    margin-top: 30px;
}

button {
    background-color: red;
    line-height: 4;
    font-size: 20px;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    font-weight: 500;
    letter-spacing: 0.01em;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

table, tr, th, td {
    border: 1px solid black;
    font-size: x-large;
    text-align: center;
}
table {
    align-content: center;
}
td, th {
    padding: 1.0em;
}
p, b {
    font-size: x-large;
}
