h1 {
    padding-left: 40%;
    padding-top: 5%;
    color: white;
}
table {
    padding-left: 5%;
    padding-top: 3%;
}
td {
    padding: 2.0em;
}
td {
    border: 1px solid black;
    background-color: white;
    color: black;
}
body {
    background-image: "https://images3.alphacoders.com/112/1122794.jpg";
}